
:root{
    --primary: #D60202;
    --background: #0f0f14; /*mais escuro*/
    --surface: #1C1C24;/* escuro*/
    --text: #f8fafc;    
    --text-secondary: #a1a1aa;
    --accent: #FF5B5B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--background);
    color: var(--text);
}
/*INICIO DA SECTION HEADER*/
.navegacao{
    width: 100%;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(15, 15, 20, 0.8)
}

.container{     
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 5px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu .menu-link{
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
    font-size: 18px;
}
.menu-link::after{
    content: "";
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, var(--primary), rgba(116, 28, 28, 0.973));
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}
.menu-link:hover::after{
    width: 100%;
    transform: 0.3s;
}


/*FIM DA SECTION HEADER*/

/*INICIO DA SECTION MAIN*/
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*Foi centralizado verticalmente e horizontalmente*/
}
.foto-perfil{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px var(--accent);
    border-radius: 50%;
    border: 4px solid #a1a1aa56;
    animation: fly 5s ease-in-out infinite;
}

h1{ 
    font-size: 3.5rem;
    color: var(--primary);
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
.cabecalho p{
    color: var(--accent);
    font-size: 1.5rem;
}
/*FIM DA SECTION MAIN*/

/*INICIO DA SECTION SOBRE*/
.sobre{
    padding: 6rem 2rem;
} 
.sobre-titulo{
    font-size: 3rem;
    color: var(--text);
    text-align: center;
    margin: 20px;
}
.sobre-box{
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border:1px solid var(--text-secondary);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.05);
}
.sobre-paragrafo{
    color: var(--text-secondary);
    font-size: 1.2rem;
    text-align: left;
}
/* INICIO DA SECAO SKILLS*/
.secao-skills, .projetos{
    margin: 0 auto;
    width: 100%;
    padding: 3rem 1rem
}

.title{
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--text);
}
.secao-skills .texto,
.projetos .texto{
    font-size: 1.2rem;
    color: var(--text) ;
    margin: 0 auto;
    max-width: 600px;
    text-align: justify;
}
.box-skills{
    width: 100%;
    margin: 20PX auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.skill{
    border: 1px solid #475569;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    transition: 0.5s ease;
}
.skill:hover, .redes a:hover{
    box-shadow: 0 5px 10px var(--accent);
    transform: translateY(-5px);
    cursor: pointer;
}
.skill .fa-brands, .redes .fa-brands{
    font-size: 1.5rem;
    margin-right: 5px;
    color: var(--primary)
}
/*FIM DA SECAO SKILLS*/

/*INICIO SECTION PROJETOS*/
.projetos{
    display: flex;
    flex-direction: column;
}
.containCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 3rem;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    backdrop-filter: blur(5px);

}
.card-projeto{
    min-width: 300px;
    margin: 0 auto;
    border: 1px solid var(--text-secondary);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.05);
    overflow: hidden;
    transition: all 0.5s ease;
}
.card-projeto:hover{
    transform: scale(1.03) translateY(-10px);
    box-shadow: 0 10px 20px var(--accent);
    cursor:pointer;
}
.projetos img{
    width: 100%;
    min-height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}
.box-text-project{
    padding: 1.2rem;
}
.info-projetos{
    font-size: 1.2rem;
    color: var(--text);
    margin-bottom: 12px;

}

.paragrafo-projetos{
    color: var(--text-secondary);
}
/*FIM SECTION PROJETOS*/

/*INICIO SECTION REDES*/
.redes{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.redes a{
    
    text-decoration: none;
    font-size: 1.2rem;
    color:var(--text);
    display: inline-block;
    transition: transform 0.3s;
    border: 1px solid var(--text-secondary);
    padding: 0.3rem 0.4rem;
    border-radius: 10px;
}

.contato{
    max-width: 1200px;;
    margin: 0 auto;
    padding: 2rem 0;
    

}
.contato-title{
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
}
.formulario-contato{
    max-width: 500px;
    margin: 0 auto;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--text-secondary); 
    border-radius: 16px;
    background: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}
.grupo-form{
    margin-bottom: 1.2rem;
    
}
.campo-form{
    width: 100%;
    padding: 0.9rem;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255, 0.05);
    color: var(--text);
    background: rgb(255, 255, 255, 0.05);
    outline: none;
}
.campo-form:focus{
    box-shadow: 0 0 10px var(--accent);
    border-color: var(--primary);
}

/*rgba(116, 28, 28, 0.973)*/
.btn-form{
    color: var(--text);
    font-weight: bold;
    width: 100%;
    background: linear-gradient(45deg, var(--primary), rgba(116, 28, 28, 0.973));
    padding: 1rem 2rem;
    border:none;
    border-radius: 8px;
    cursor:pointer;
    transition: all 0.5s ease;
}
.btn-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px var(--accent);
}
.circle{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    border-radius: 50%;
    background: radial-gradient(circle at 10% 20%, var(--primary) 0%, transparent 20%),
                radial-gradient(circle at 90% 80%, var(--accent) 0%, transparent 20%),
                var(--background);
    
}
footer{
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
@keyframes fly{
    0%, 100%{
        transform: tranlateY(0)
    }
    50%{
        transform: translateY(-20px)
    }
}
@media (max-width: 768px){
    .containCard{
        display:flex;
        flex-wrap: wrap;
    }
}